<!-- Footer -->
<footer
        class="text-center text-lg-start text-white"
        style="background-color: #3e4551;
               min-height: 33vh;margin-top:100px"
>
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Links -->
        <section class="">
            <!--Grid row-->
            <div class="row" style="justify-content: space-between;">
                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0" style="margin-right: 300px">
                    <h5 class="text-uppercase">About Us</h5>

                    <p>
                        We at Value Dollar hope to bring you cheap, but high quality goods straight to you.
                        Take advantage of our massive year-long sales for whatever occasion, be it a birthday party or small event.
                        We carry a wide assortment of products to suit your needs, from toilet paper to green tea.
                    </p>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Helpful links</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="/" class="text-white">Home</a>
                        </li>
                        <li>
                            <a href="/option/all" class="text-white">Catalogue</a>
                        </li>
                        <li>
                            <a href="/reward" class="text-white">Rewards</a>
                        </li>
                        <li>
                            <a href="/hiring" class="text-white">Hiring</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Contact Us</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="tel:12345678" class="text-white">11223344</a>
                        </li>
                        <li>
                            <a href="mailto:dollarstore@inquiry.com" class="text-white">Dolarstore@gmail.com</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </section>
        <!-- Section: Links -->

        <!--<hr class="mb-4"/>-->

        <!-- Section: CTA -->
        <!--<section class="">
            <p class="d-flex justify-content-center align-items-center">
                <span class="me-3">Register for free</span>
                <a href="/login" class="btn btn-outline-light btn-rounded">
                    Sign up!
                </a>
            </p>
        </section>
        <!- Section: CTA -->

        <!--<hr class="mb-4"/>-->


    </div>
    <!-- Grid container -->

</footer>
<!-- Footer -->
