{% from "_formhelpers.html" import render_field %}
{% extends 'base.html' %}

{% block title %}
    Appointment Form
{% endblock %}

{% block content %}
<html>
<head>
	<title>Appointment Form</title>
    <style>
        *{
            text-align: center;
            list-style-type:none;
        }

        input {
            width: 50%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border: 1px solid black;
            border-radius: 4px;
        }

        input.s:hover{
            background-color: #3e8e41
        }

        label.a{
            color: red;
            font-size: 30px;
        }

    </style>
</head>
<body>
    <form method="POST" action="/appointment">
        <label class="a">Appointment Form</label>
        <dl>
        {{ form.csrf_token}}
        {{ render_field(form.name) }}
        <ul>
         {% for error in form.name.errors %}
            <li style="color:red;">{{ error }}</li>
         {% endfor %}
        </ul>
            <ul>
            <li style="margin-left: 600px;">{{ form.recaptcha }}</li>
            {% for error in form.recaptcha.errors %}
        </ul>
        <ul>
             <li style="color:red;">{{ error }}</li>
         {% endfor %}
        </ul>
        <input class="s" type="submit" value="login">
        </dl>
    </form>
</body>
 <script src="https://www.google.com/recaptcha/api.js"></script>
 <script>
   function onSubmit(token) {
     document.getElementById("demo-form").submit();
   }
  </script>
</html>
{% endblock %}
